<!-- Start Footer -->
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer class="footer custom-footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-links">
                <h4>NOSOTROS</h4>
                <ul>
                    <li><a asp-controller="Home" asp-action="NuestraMision">Quienes somos</a></li>
                    <li><a asp-controller="Home" asp-action="TerminosCondiciones">Términos y condiciones de uso</a></li>
                    <li><a asp-controller="Home" asp-action="AvisodePrivacidad">Política de Privacidad</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>GYMNASIO</h4>
                <ul>
                    <li><a href="/Home/Index">Inicio</a></li>
                    <li><a href="/Socios/RegistroRFIDSocio">Socios</a></li>
                    <li><a href="/Blog/Index">Blog</a></li>
                    <li><a href="/Blog/Calculator">Calculadora de Macros</a></li>
                    <li><a href="/Blog/Rutinas">Rutinas</a></li>
                </ul>
            </div>

            <div class="footer-links">
                <h4>Siguenos</h4>
                <div class="social-link">
                    <a href="https://www.facebook.com/tiffunctionaltraining"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/teamisfamilymx"><i class="fab fa-instagram"></i></a>
                    <a href="https://wa.me/7292290000?text=Me%20gustaría%20saber%20más%20informes%20del%20gimnasio"><i class="fab fa-whatsapp"></i></a>
                    <p class="team-info">
                        <strong>TEAM IS FAMILY</strong><br>
                        Dirección: Popocatépetl 26, Xinantécatl, 52169 San Jorge Pueblo Nuevo, Méx.<br>
                        Lunes a Viernes: 6:00am-10:00pm<br>
                        Sábados: 7:00am-4:00pm
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
