@{
}
<!DOCTYPE html>
<html>
<head>
	<!-- CSS -->
	<link rel="stylesheet" href="~/css/BlogIndex.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/footer1.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/heronav.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/CalculatorIMC.css" asp-append-version="true" />


	<!--  *****   Link To Font Awsome Icons   *****  -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>TIFBLOG</title>
</head>
<body>


	<!-- Start Banner Hero -->
	<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
		<ol class="carousel-indicators">
			<li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
			<li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
			<li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<!-- Slide 1 -->
			<div class="carousel-item active">
				<div class="container">
					<div class="row p-5">
						<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
							<img class="img-fluid" src="/BlogImage/bn_nut_01.jpg" alt="">
						</div>
						<div class="col-lg-6 mb-0 d-flex align-items-center">
							<div class="text-align-left align-self-center">
								<h1 class="h1 text-dark"><strong>TEAM IS FAMILY</strong> Nutrición</h1>
								<h3 class="h2">Un espacio dedicado a cuidar tu salud y brindarte información sobre los alimentos que realmente nutren tu cuerpo.</h3>
								<p style="color: black;">
									Descubre cómo mejorar tu alimentación y bienestar con información clara y práctica. ¡Porque una buena nutrición es el primer paso hacia una vida más saludable!
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Slide 2 -->
			<div class="carousel-item">
				<div class="container">
					<div class="row p-5">
						<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
							<img class="img-fluid" src="/BlogImage/bn_nut_02.jpg" alt="">
						</div>
						<div class="col-lg-6 mb-0 d-flex align-items-center">
							<div class="text-align-left">
								<h1 class="h1 text-dark"><strong>Educación Nutricional</strong></h1>
								<h3 class="h2">Aprende cómo los alimentos influyen en tu rendimiento físico y mental</h3>
								<p style="color: black;">
									En TEAM IS FAMILY queremos que tomes decisiones conscientes. Aquí aprenderás sobre macronutrientes, etiquetado nutricional, porciones adecuadas y más.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Slide 3 -->
			<div class="carousel-item">
				<div class="container">
					<div class="row p-5">
						<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
							<img class="img-fluid" src="/BlogImage/bn_nut_03.jpg" alt="Nutrición Inteligente">
						</div>
						<div class="col-lg-6 mb-0 d-flex align-items-center">
							<div class="text-align-left">
								<h1 class="h1 text-dark"><strong>Nutrición Inteligente</strong></h1>
								<h3 class="h2">Personaliza tu dieta para lograr tus objetivos</h3>
								<p style="color: black;">
									Utiliza nuestra calculadora de macros para encontrar el equilibrio perfecto entre proteínas, carbohidratos y grasas según tu meta: perder grasa, ganar músculo o mantenerte en forma.
								</p>
								<!-- Botón que lleva a la calculadora de macros -->
								<a href="/Blog/Calculator" class="btn btn-dark">
									Ir a la Calculadora de Macros
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
			<i class="fas fa-chevron-left"></i>
		</a>
		<a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
			<i class="fas fa-chevron-right"></i>
		</a>
	</div>
	<!-- End Banner Hero -->
	<!--   *** Blog Section Starts ***   -->
	<section class="blog" id="blog">
		<!--   === Blog Header Starts ===   -->
		<header class="section-header">

			<div class="about-right-col">
				<div class="about-states">
					<div class="about-state about-state-1">
						<i class="fa-solid fa-utensils"></i>
						<h2>NUTRICIÓN</h2>


					</div>
				</div>
			</div>


			<h1>Nuestra selección para ti</h1>
			<p>¿Tienes dudas sobre cómo entrenar? No te preocupes, hemos recopilado toda la información necesaria para hacer que tu experiencia en el gimnasio sea más sencilla y efectiva.</p>
		</header>
		<!--   === Blog Header Ends ===   -->
		<!--   === Blog Contents Starts ===   -->
		<div class="blog-contents">

			<div class="article-card">
				<img src="~/BlogImage/Articles/img_font_14.jpg">
				<div class="category">
					<div class="subject"><h3>Nutrición</h3></div>
					<span>14/04/2025</span>
				</div>
				<h2 class="article-title"><strong>¿Es Posible Quemar Grasa Localizada? </strong>La Verdad que Necesitas Saber</h2>
				<p class="article-desc">¿Se puede eliminar grasa en zonas específicas? Descubre la verdad detrás de este mito y cómo reducir grasa de manera efectiva.</p>
				<div class="article-views">
					<button class="btn read-more-btn" onclick="location.href='/Articulo/a1Nutricion'">Leer más</button>
				</div>
			</div>

			<div class="article-card">
				<img src="~/BlogImage/post-2.jpg">
				<div class="category">
					<div class="subject"><h3>Nutrición</h3></div>
					<span>14/04/2025</span>
				</div>
				<h2 class="article-title">
					<strong>Las Grasas Más Saludables:</strong> Descubre Cuáles Benefician tu Cuerpo.
				</h2>
				<p class="article-desc">No todas las grasas son malas. Aprende cuáles debes incluir en tu dieta para mejorar tu salud y rendimiento.</p>
				<div class="article-views">
					<button class="btn read-more-btn" onclick="location.href='/Articulo/a2Nutricion'">Leer más</button>
				</div>
			</div>

			<div class="article-card">
				<img src="~/BlogImage/Articles/img_font_12.jpg">
				<div class="category">
					<div class="subject"><h3>Nutrición</h3></div>
					<span>14/04/2025</span>
				</div>
				<h2 class="article-title"><strong>Equilibra tu Alimentación:</strong> Cómo Ajustar tus Comidas Según tu Edad y Estilo de Vida</h2>
				<p class="article-desc">Tu cuerpo cambia con el tiempo, y tu dieta también debería hacerlo. Aprende a balancear tus comidas para sentirte mejor a cualquier edad.</p>
				<div class="article-views">
					<button class="btn read-more-btn" onclick="location.href='/Articulo/a3Nutricion'">Leer más</button>
				</div>
			</div>

		</div>

		<!--   *** Blog Section Ends ***   -->
	</section>


	<!--Calculadora IMC STAR-->
	<div class="container">
		<h1 style="color: #ff1133;"><strong>CALCULADORA DE IMC</strong></h1>
		<img src="~/Images/tifLogin.jpg" alt="Descripción de la imagen" style="width: 200px; height: auto; margin: 0 auto 0px auto; display: block;">
		<p class="intro">
			El <strong>Índice de Masa Corporal (IMC)</strong> es una medida utilizada para evaluar si una persona tiene un peso saludable en relación con su altura. Esta calculadora te ayudará a determinar tu IMC y te proporcionará una interpretación básica del resultado.
		</p>
		<div class="calculator" id="calculator">
			<input type="number" id="weight" placeholder="Peso (kg)" step="0.1" required>
			<input type="number" id="height" placeholder="Altura (cm)" required>
			<button onclick="calculateBMI()">Calcular IMC</button>
			<div id="result" class="result"></div>
		</div>
		<p class="note">
			<strong>Nota: </strong>Estos valores de IMC son una guía general y pueden no ser aplicables a todos los individuos. Factores como la actividad física, la composición corporal y la edad pueden influir en la interpretación de tu IMC. Consulta a un profesional de la salud para una evaluación más precisa.
		</p>
	</div>
	<!--Calculadora IMC ENDS-->
	<!-- Aquí sí va el footer -->
	@await Html.PartialAsync("_Footer")
	<!--   *** Copy Rights Starts ***   -->
	<div class="copy-rights">
		<p>Creado por <b>TEAM IS FAMILY</b> Todos los derechos reservados</p>
	</div>
	<!--   *** Copy Rights Ends ***   -->
	<!--   *** JS Scripts ***   -->
	<script src="~/js/BlogIndex.js"></script>
	<script src="~/js/IMC.js"></script>
</body>
</html>